<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DollarComputers.Properties.Settings.DollarComputersConnectionString" connectionString="Data Source=comp1004assignment04.database.windows.net;Initial Catalog=DollarComputers;User ID=junghwanyang;Password=Wjdfmd87!!" providerName="System.Data.SqlClient" />
  <add name="ComputersContextConnection" connectionString="data source=comp1004assignment04.database.windows.net;initial catalog=DollarComputers;persist security info=True;user id=junghwanyang;password=Wjdfmd87!!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>